In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
liver_data=pd.read_csv('Indian Liver Patient Dataset.csv')

In [3]:
liver_data

     Age  Gender    TB   DB  Alkphos  Sqpt  Sgot   TP  ALB    AG  LiverPatient
0     65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90             1
1     62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74             1
2     62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89             1
3     58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00             1
4     72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40             1
..   ...     ...   ...  ...      ...   ...   ...  ...  ...   ...           ...
578   60    Male   0.5  0.1      500    20    34  5.9  1.6  0.37             2
579   40    Male   0.6  0.1       98    35    31  6.0  3.2  1.10             1
580   52    Male   0.8  0.2      245    48    49  6.4  3.2  1.00             1
581   31    Male   1.3  0.5      184    29    32  6.8  3.4  1.00             1
582   38    Male   1.0  0.3      216    21    24  7.3  4.4  1.50             2

[583 rows x 11 columns]

In [4]:
liver_data_male=liver_data[liver_data['Gender']=="Male"]
liver_data_female=liver_data[liver_data['Gender']=="Female"]

In [5]:
liver_data_male

     Age Gender    TB   DB  Alkphos  Sqpt  Sgot   TP  ALB    AG  LiverPatient
1     62   Male  10.9  5.5      699    64   100  7.5  3.2  0.74             1
2     62   Male   7.3  4.1      490    60    68  7.0  3.3  0.89             1
3     58   Male   1.0  0.4      182    14    20  6.8  3.4  1.00             1
4     72   Male   3.9  2.0      195    27    59  7.3  2.4  0.40             1
5     46   Male   1.8  0.7      208    19    14  7.6  4.4  1.30             1
..   ...    ...   ...  ...      ...   ...   ...  ...  ...   ...           ...
578   60   Male   0.5  0.1      500    20    34  5.9  1.6  0.37             2
579   40   Male   0.6  0.1       98    35    31  6.0  3.2  1.10             1
580   52   Male   0.8  0.2      245    48    49  6.4  3.2  1.00             1
581   31   Male   1.3  0.5      184    29    32  6.8  3.4  1.00             1
582   38   Male   1.0  0.3      216    21    24  7.3  4.4  1.50             2

[441 rows x 11 columns]

In [6]:
liver_data_female

,Age,Gender,TB,DB,Alkphos,Sqpt,Sgot,TP,ALB,AG,LiverPatient
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
6,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1
7,29,Female,0.9,0.3,202,14,11,6.7,3.6,1.10,1
13,74,Female,1.1,0.4,214,22,30,8.1,4.1,1.00,1
18,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
...,...,...,...,...,...,...,...,...,...,...,...
547,50,Female,27.7,10.8,380,39,348,7.1,2.3,0.40,1
549,40,Female,2.1,1.0,768,74,141,7.8,4.9,1.60,1
564,38,Female,0.6,0.1,165,22,34,5.9,2.9,0.90,2
566,50,Female,1.0,0.3,191,22,31,7.8,4.0,1.00,2
568,20,Female,16.7,8.4,200,91,101,6.9,3.5,1.02,1