In [1]:
import pandas as pd

In [2]:
master_data=pd.read_csv("covid_19_india.csv")

In [3]:
master_data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
18105,18106,2021-08-11,8:00 AM,Telangana,-,-,638410,3831,650353
18106,18107,2021-08-11,8:00 AM,Tripura,-,-,77811,773,80660
18107,18108,2021-08-11,8:00 AM,Uttarakhand,-,-,334650,7368,342462
18108,18109,2021-08-11,8:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18109,18110,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999

In [4]:
master_data.columns

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

In [5]:
wb_data=master_data[master_data['State/UnionTerritory']== 'West Bengal']

In [6]:
wb_data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
208,209,2020-03-18,6:00 PM,West Bengal,1,0,0,0,1
227,228,2020-03-19,6:00 PM,West Bengal,1,0,0,0,1
247,248,2020-03-20,6:00 PM,West Bengal,2,0,0,0,2
269,270,2020-03-21,6:00 PM,West Bengal,3,0,0,0,3
292,293,2020-03-22,6:00 PM,West Bengal,4,0,0,0,4
...,...,...,...,...,...,...,...,...,...
17965,17966,2021-08-07,8:00 AM,West Bengal,-,-,1503535,18202,1532379
18001,18002,2021-08-08,8:00 AM,West Bengal,-,-,1504326,18217,1533128
18037,18038,2021-08-09,8:00 AM,West Bengal,-,-,1505089,18229,1533803
18073,18074,2021-08-10,8:00 AM,West Bengal,-,-,1505808,18240,1534360
18109,18110,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999

In [9]:
wb_data[['Cured','Deaths','Confirmed']].describe()

              Cured        Deaths     Confirmed
count  5.120000e+02    512.000000  5.120000e+02
mean   4.834279e+05   7513.650391  5.138826e+05
std    4.798799e+05   5860.845822  4.960510e+05
min    0.000000e+00      0.000000  1.000000e+00
25%    3.115450e+04   1246.500000  5.114800e+04
50%    4.428435e+05   8296.000000  4.757165e+05
75%    5.732840e+05  10345.000000  5.941052e+05
max    1.506532e+06  18252.000000  1.534999e+06

In [12]:
wb_data['Confirmed-Cured']=wb_data['Confirmed']-wb_data['Cured']

C:\Users\11037833\AppData\Local\Temp/ipykernel_12204/220561170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wb_data['Confirmed-Cured']=wb_data['Confirmed']-wb_data['Cured']

In [13]:
wb_data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Confirmed-Cured
208,209,2020-03-18,6:00 PM,West Bengal,1,0,0,0,1,1
227,228,2020-03-19,6:00 PM,West Bengal,1,0,0,0,1,1
247,248,2020-03-20,6:00 PM,West Bengal,2,0,0,0,2,2
269,270,2020-03-21,6:00 PM,West Bengal,3,0,0,0,3,3
292,293,2020-03-22,6:00 PM,West Bengal,4,0,0,0,4,4
...,...,...,...,...,...,...,...,...,...,...
17965,17966,2021-08-07,8:00 AM,West Bengal,-,-,1503535,18202,1532379,28844
18001,18002,2021-08-08,8:00 AM,West Bengal,-,-,1504326,18217,1533128,28802
18037,18038,2021-08-09,8:00 AM,West Bengal,-,-,1505089,18229,1533803,28714
18073,18074,2021-08-10,8:00 AM,West Bengal,-,-,1505808,18240,1534360,28552
18109,18110,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999,28467

In [14]:
wb_data['Unaccounted']=wb_data['Confirmed-Cured']-wb_data['Deaths']

C:\Users\11037833\AppData\Local\Temp/ipykernel_12204/1918995029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wb_data['Unaccounted']=wb_data['Confirmed-Cured']-wb_data['Deaths']

In [15]:
wb_data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Confirmed-Cured,Unaccounted
208,209,2020-03-18,6:00 PM,West Bengal,1,0,0,0,1,1,1
227,228,2020-03-19,6:00 PM,West Bengal,1,0,0,0,1,1,1
247,248,2020-03-20,6:00 PM,West Bengal,2,0,0,0,2,2,2
269,270,2020-03-21,6:00 PM,West Bengal,3,0,0,0,3,3,3
292,293,2020-03-22,6:00 PM,West Bengal,4,0,0,0,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...
17965,17966,2021-08-07,8:00 AM,West Bengal,-,-,1503535,18202,1532379,28844,10642
18001,18002,2021-08-08,8:00 AM,West Bengal,-,-,1504326,18217,1533128,28802,10585
18037,18038,2021-08-09,8:00 AM,West Bengal,-,-,1505089,18229,1533803,28714,10485
18073,18074,2021-08-10,8:00 AM,West Bengal,-,-,1505808,18240,1534360,28552,10312
18109,18110,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999,28467,10215